<link rel="stylesheet" href="/css/style.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<title>TDTU | Event</title>
<div class="event-detail">
	<div class="full_bg">
	    <div class="slider_main">
	        <div class="container-fluid">
                <div class="row d_flex">
					<div class="col-md-12">
			            <div class="e_detail">
			                <a style="color: red">Event Details</a>
			                <h1>
								Hội thao truyền thống Khoa Công nghệ thông tin năm 2023
			                </h1>
							<p>
								Tại buổi khai mạc, thầy Phó Trưởng khoa đã thay mặt Khoa động viên tinh thần thi đấu của các vận động viên, tham dự với tinh thần thi đấu lành mạnh, nhiệt huyết, tôn trọng đối thủ. Đại diện Vận động viên, Trọng tài cũng đã cùng tuyên thệ trước toàn thể Vận động viên, Ban tổ chức vì một hội thao thành công, công bằng. 
							</p>
							<p>
								Hội thao năm 2023 có 3 nội dung thi đấu: Bóng đá 5 người, Chạy cự ly 100m và Chạy cự ly 1000m với tổng giải thưởng gần 10 triệu đồng. Hội thao là hoạt động truyền thống của Khoa CNTT với các nội dung thi đấu, trong đó, nội dung thi đấu chính là môn thể thao vua – Bóng đá. Ngay từ vòng loại đã thu hút đông đảo các đội tham gia và qua gần 01 tháng thi đấu, Ban tổ chức đã chọn ra được 16 đội xuất sắc nhất tham gia Hội thao năm nay.
							</p>
							<p>
								Sau Lễ khai mạc cũng đã diễn ra 2 trận thi đấu hết sức gay cấn giữa 4 đội bóng, mở màn cho Hội thao truyền thống năm 2023.
							</p>
							<p>
								Một vài hình ảnh lễ khai mạc 19/06
							</p>
			            </div>
				    </div>
					
					<div class="col-md-12">
						<div class="titlepage text_align_center">   
							<p>
					    		 	<figure>
										<img class="img_detail" src="images/sport-event/5.jpg">
				                    </figure>
					    	</p>
							<p>
					    		 	<figure>
										<img class="img_detail" src="images/sport-event/1.jpeg">
				                    </figure>
					    	</p>
						</div>
			      	</div> 	
                    <div class="col-md-12">
						<h1>Đăng kí ở đây</h1>
                        <button class="register_btn ">Register</button>
                    </div>
				</div>
	        </div>
	    </div>
	</div>
</div>

	    